
*{padding: 0;
  margin: 0;}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#d3d3d3;
  max-width: 1100px;
  width: 1100px;
  margin: auto;
  color:#343a40;
  font-weight: 400;
}
nav{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
select,#fipeVeiculo{
  background-color: #778da9;
  margin-top:35px;
}
#titulo{
  text-shadow: 1px 1px 2px #343a40;
  color: #463f3a;
  width: 650px;
  margin-right: -50%;
  translate: 35%;
  padding-top: 20px;
  padding-bottom: 10px;
  }


.espaco2{
  margin-top: 30px;
  margin-left: 15px;
  padding: 2px;
}
#imgValue {
  display: fixed;
  float: right;
  flex-direction: column;
  align-items:center;
  text-align:right;
  padding-right: 1rem;
  margin-top: -5%;
}
#carro{
  height: 300px;

  padding-right: 10%;
}
#textValue{
  margin-top: 1rem;

}

#comissao, #diferencaTxt, #fipeTxt{
  font-weight: 400;
}
